.wider .oe_form_sheet.oe_form_sheet_width {
    width: 95% !important;
    max-width: 95% !important;
}
.wider {
    color: red;
}
.oe_button.oe_form_button.button_red {
    background-color: #c02c2c !important;
    background-image: linear-gradient(to bottom, #df3f3f, #a21a1a) !important;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 1px 1px rgba(155, 155, 155, 0.4) inset !important;
    color: white !important;
}
.oe_button.oe_form_button.button_red:hover {
    background-color: #c63939 !important;
    background-image: linear-gradient(to bottom, #e25858, #ab1b1b) !important;
}
.oe_form_field_one2many_list_row_add > a {
    display:none !important;
}
.no_button_gle a {
    display: none !important;
}