@charset "utf-8";
.openerp .oe_form td.oe_form_group_cell_label label {
    color: #4c4c4c;
    font-family: "Lucida Grande",Helvetica,Verdana,Arial,sans-serif;
    font-size: 13px !important;
}
.oe_form_field.oe_form_field_radio.oe_vertical label {
    font-size: 14px;
}
.societesheet .oe_title.oe_left {
    width: 50% !important;
    float: none !important;
}
.societesheet .oe_right.oe_button_box {
    float: right;
    position: absolute;
    right: 63px;
    top: 30px;
}
input,
select,
span {
    font-size: 13px !important;
    font-weight: normal !important;
}
.openerp .oe_list .oe_list_content .oe_group_header {
    background-color: #f49090 !important;
    background-image: linear-gradient(to bottom, #f49090, #f49090) !important;
    font-weight: bold !important;
}
.openerp .oe_list_content > tfoot {
    background: #222222 none repeat scroll 0 0 !important;
    color: #ffffff !important;
    font-size: 16px !important;
    background-image: linear-gradient(to bottom, #DC5151, #AC1C1C) !important;
}
.openerp .prevision th, .openerp .prevision td {
    text-align: right !important;
}
.contact_button {
    float: right;
    position: absolute;
    right: 10px;
    text-align: right;
    top: 10px;
    width: 400px;
}
.historique thead {
    display: none;
}