strong > span.oe_form_field > span.oe_form_char_content, strong > span.oe_form_field{
    font-weigth: bold !important;
    color: green;
}
.openerp strong .oe_button.oe_link span{
    font-weigth: bold !important;
    color: blue;
}