.openerp .oe_form_sheet_width {
    max-width: 95% !important;
}

.no_button_gle a {
    display: none !important;
}
.openerp .oe_form .oe_form_field.oe_form_field_char.readonly-special.oe_form_required input {
    background-color: white !important;
    border: none !important;
}